@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500');

body { font-family: 'Roboto', sans-serif; color: #111; font-weight: 300; margin: 0; }

.container {
    display: grid;
    position: relative;
    max-width: 960px;
    margin: 0 auto;
    font-size: 20px;
}

.links { 
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 1.5em;
    margin: 1em 0;
}

.stuff-item {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-column-gap: 1em;
    align-items: center;
    margin: 1em 0;
}

.stuff-text {
    display: flex;
    flex-direction: column;
}

.stuff-title {
    font-weight: 500;
    font-size: 1.2em;
    margin-bottom: 0.25em;
}

h2 {
    color: #003897;
    font-weight: 500;
    font-size: 1.75em;
    margin: 0.5em 0 0.25em 0;
}

h3 {
    color: #003897;
    font-weight: 500;
    font-size: 1.25em;
    margin: 0.25em 0;
}

p {
    margin: 0.5em 0;
}
p:last-child {
    margin-bottom: 2em;
}

.note { 
    border-bottom: 1px dashed grey; 
    cursor: help; 
}

.link {
    margin: 0 0.1em;
}

ul {
    list-style-type: circle;
    margin: 0;
    padding-left: 1.5em;
}

li {
    margin: 1em 0;
}

b, strong {
    font-weight: 500;
}

a:link, a:visited  { color: #003897; }
a:hover { text-decoration: none; }

.photo {
    background-image: url("../img/lp_bg.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-color: #90a2ba;
    height: 50vh;
}

@media (min-width: 550px) {
    .container {
        width: 80%;
    }
}

@media only screen and (max-width: 550px)
{
    .photo { 
        background-position: center -100px;
    }
    
    .container {
        padding: 0 1em;
    }

    .link {
        margin: 0 0.05em;
    }

    .stuff-item {
        grid-template-columns: auto;
    }
}

