@import url('https://fonts.googleapis.com/css?family=Roboto');

body { font-family: 'Roboto Light', sans-serif; color: #111; margin-top: -30px; padding-right: 0px; margin-left: 0px; margin-right: 0px; }

h1 { text-align: center; padding-top: 100px; padding-bottom: 70px; margin-bottom: 0px; margin-left: 0px; margin-right: 0px;}
h2 { font-family: 'Roboto', sans-serif; margin-top: 0; margin-bottom: 20px; font-size: 26px; font-weight: 400; color: #003897; padding-top: 0 }
h3 { font-family: 'Roboto', sans-serif; margin-top: 0; margin-bottom: 20px; font-size: 20px; font-weight: 400; color: #003897; padding-top: 0 }
h4 { font-family: 'Roboto Light', sans-serif; margin-top: 0; margin-bottom: 2px; font-size: 18px; font-weight: bold; color: #003897; padding-top: 0 }
p  { font-size: 16px; line-height: 1.4em; margin-top: 0}
hr { margin-top: 30px; margin-bottom: 30px; }

a:link, a:visited  {	color: #003897; }
a:hover { text-decoration: none; }

.social img {
	/*filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
	filter: grayscale(100%); /* IE6-9 */
	-webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */}
.social:hover img {
	filter: none; -webkit-filter: grayscale(0%);
	}
    
/* Grow */
.grow {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.grow:hover, .grow:focus, .grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.grow img {
	/*filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
	filter: grayscale(100%); /* IE6-9 */
	-webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */}
.grow:hover img {
	filter: none; -webkit-filter: grayscale(0%);
	}

/*Parallax tricks*/
header { height: 610px; }

.band {
    background-image: url("../img/lp_logo.png"), url("../img/lp_bg.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: center 10em, left top;
    background-color: #90a2ba;
}

@media only screen and (max-width: 768px)
{

    header { height: 330px; }

    .band { 
        background-image: url("../img/lp_logo.png"), url("../img/lp_bg.jpg");
        background-repeat: no-repeat, no-repeat;
        background-position: center 5em, -200px -100px;
        background-color: #90a2ba;
        background-size: 300px auto, auto;
    }
}

.main { background: #FFF no-repeat; }

.upper-block { margin-top: 0; padding-top: 30px; background-color: #FFF; }
.bottom-block {margin-bottom: 0; padding-bottom: 30px; background-color: #FFF; }

.parallax {
    position: relative;
    width: 100%;
    background-attachment: fixed;
    /*background-size: cover;*/
}

}
