@import url('https://fonts.googleapis.com/css?family=EB+Garamond');

body { font-family: 'EB Garamond', serif; color: #111; margin-top: 0px; padding-right: 0px; margin-left: 0px; margin-right: 0px;}

h1 { font-family: 'EB Garamond', serif; font-size: 37px; font-style: bold; margin-top: 20px; margin-bottom: 20px;  color: #111; padding-top: 0 }
p  { font-size: 20px; line-height: 1.1em; text-align: justify; margin-top: 0; margin-bottom: 1.0em;}
p.poetry { text-align: center; font-style: italic; line-height: 0.75em;}
hr { margin-top: 5px; margin-bottom: 5px;}

